

body{

    background: linear-gradient(to left bottom, lightpink, lightblue, lightpink);
}
.user-form {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width:50%;
    margin-left: 25%;

    text-align: center;
}

a{
    text-decoration:none;
    color:white;
}

.user-form h4 {

    color: #28a745;
}

.user-form input {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-form button {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-form button:hover {
    background-color: #218838;
}
